# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.md
vignettes/articles/*.html
vignettes/articles/*.pdf
vignettes/articles/*.md
vignettes/examples/*.html
vignettes/examples/*.pdf
vignettes/examples/*.md
vignettes/notes/*.html
vignettes/notes/*.pdf
vignettes/notes/*.md
vignettes/references/*.html
vignettes/references/*.pdf
vignettes/references/*.md
vignettes/resources/*.html
vignettes/resources/*.pdf
vignettes/resources/*.md
vignettes/tests/*.html
vignettes/tests/*.pdf
vignettes/tests/*.md

# produced tests
tests/testthat/*.html
tests/testthat/*.pdf
tests/testthat/*.md

# produced data_raw
data_raw/*.html
data_raw/*.pdf
data_raw/*.md

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
