name: Make Project

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    container:
      image: ijapesigan/docs
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      packages: read
      statuses: write

    steps:
      -
        name: Checkout 
        uses: actions/checkout@v3
      -
        name: Clean
        run: |
          make clean
      -
        name: Make Project
        run: |
          make install
          make push
      - 
        name: Commit and push changes
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_message: "Automated build."
